
@font-face {
	font-family: 'Suisse';
	src: url('./SuisseIntl-Regular.otf') format('OpenType')
}

@font-face {
	font-family: 'Suisse Light';
	src: url('./SuisseIntl-Light.otf') format('OpenType')
}

@font-face {
	font-family: 'Suisse Thin';
	src: url('./SuisseIntl-Thin.otf') format('OpenType')
}

@font-face {
	font-family: 'Apercu';
	src: url('./apercu.otf') format('OpenType')
}

@font-face {
	font-family: 'Ampersand';
	src: url('./Ampersand.woff') format('WOFF')
}