@import 'assets/vendors/likid.scss';

$c-set-bg: #0A0A0A;
$c-set-fg: #E4E4E4;

:root {
  --c-bg: #{$c-set-bg};
  --c-fg: #{$c-set-fg};
}


$c-bg: var(--c-bg);
$c-fg: var(--c-fg);

$ease-out: cubic-bezier(.165, .84, .44, 1);



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Suisse', Helvetica, sans-serif;
  background-color: $c-fg;
  color: $c-bg;
  width: 100vw;
  font-size: 0.85rem;
  line-height: 1.25rem;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  header {
    width: 100vw;
    margin-top: 70px;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);
    display: flex;

    .logo {
      display: inline-block;
    }

    ul {
      @include likid(margin-left, 16);
    }

    ul li {
      display: inline-block;
      list-style: none;
      margin-right: 30px;
    }
  }

  .title {
    margin-bottom: 5px;
  }

  .c-type-img {
    width: 100vw;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);
    font-family: Ampersand;
    @include likid(font-size, 6.4);
    @include likid(line-height, 6.4);
    margin-top: 225px;
    margin-bottom: 75px;
  }

  .c-type {
    width: 100vw;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);
    height: 300px;

    span {
      display: block;
    }

    &-date {
      @include likid(width, 3);
      @include likid(left, 4);
    }

    &-release {
      @include likid(width, 3);
      @include likid(left, 8);
    }

    &-creator {
      @include likid(width, 3);
      @include likid(left, 12);
    }

    &-infos {
      @include likid(width, 3);
      @include likid(left, 17);
      @include likid(width, 10); 
    }

  }

  .c-type-examples {

    width: 100vw;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);

    img {
      max-width: 100%;
    }
  }

  footer {
    margin-top: 175px;
    margin-bottom: 175px;
    width: 100vw;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);

    .thanks {
      font-size: 60px;
      line-height: 60px;

      span {
        display: block;
      }
    }
  }
}
