@import 'assets/vendors/likid.scss';

$c-set-bg: #0A0A0A;
$c-set-fg: white;

:root {
  --c-bg: #{$c-set-bg};
  --c-fg: #{$c-set-fg};
}


$c-bg: var(--c-bg);
$c-fg: var(--c-fg);

$ease-out: cubic-bezier(.165, .84, .44, 1);



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  height: 100%;
}

.dark {
  background-color: $c-bg;
  color: $c-fg;
}

.white {
  background-color: $c-fg !important;
}

.filter-img {
  filter: invert(1);
}

.modal-open {
  overflow: hidden;
}

body {
  font-family: Suisse, Helvetica, sans-serif;
  background-color: black;
  color: $c-bg;
  width: 100vw;
  height: 100%;
  font-size: 0.9rem;
  line-height: 1.25;
  transition: all 1s $ease-out;

  a {
    color: currentColor;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      opacity: .65;
    }
  }

  button {
    font-size: 1rem;
    line-height: 1.25rem;
    border: none;
    color: currentColor;
    background: none;
    padding: 0;
      &:focus {
        outline: none;
      }

      &:hover{
        cursor: pointer;
      }
  }


  ul li {
    list-style: none;
  }

  header {
    position: fixed;
    width: 100vw;
    mix-blend-mode:difference;
    top: 0;
    z-index: 900;
    padding-top: 70px;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);

    .logo {
      color: white;
      display: inline-block;
    }

    ul {
      @include likid(left, 18);
    }

    ul li {
      color: white;
      display: inline-block;
      margin-right: 30px;
    }

    .mode-switcher {
      display: none;
      @include likid(right, 2);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $c-bg;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .main {
    width: 100vw;
    background-color: white;
  }

  .title {
    display: block;
    margin-bottom: 5px;
  }

  .underline {
    display: inline-block;
    &:after {
      content: '';
      display: block;
      margin-top: 3px;
      height: 2px;
      width: 100%;
      opacity: 1;
      background-color: $c-bg;
      transition: opacity .6s $ease-out;
    }
  }

  .c-slider {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 100%;
    z-index: -1;
    color: white;
    background-color: black;

    &:hover {
      cursor: pointer;
    }


    &-footer {
      position: absolute;
      @include likid(padding-left, 2);
      @include likid(padding-right, 2);
      margin-bottom: 70px;
      width: 50%;
      bottom: 0;

      span {
        display: block;
      }
    }

    &-type {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-content {
        .date, .creator {
          display: inline-block;
          @include likid(margin-right, 2);
        }

        .button {
          display: inline-block;
          float: right;
        }
      }

      &-wrapper {
        img {
          @include likid(width, 28);
          height: auto;
          margin-bottom: 50px;
          filter: invert(1);
        }
      }
    }
  }

  .c-posts {
    background-color: $c-fg;
    color: black;
    width: 100vw;
    margin-top: 75px;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2); 

    &-title {
      font-size: 1.7rem;
      margin-bottom: 40px;
    }

    .post {
      height: auto;
      width: 100%;
      border-top: 1px solid #DDDDDD;
      display: grid;
      grid-template-columns: repeat(32, 1fr);
      grid-auto-flow: dense;
      align-items: center;

      &:last-child {
        border-bottom: 1px solid #DDDDDD;
      }

      &:hover {
        cursor: pointer;
        .post-date, .post-title, .post-link {
          opacity: 0.65
        }
      }

      &-date {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      &-title {
        margin-top: 15px;
        margin-bottom: 15px;
        grid-column-start: 6;
        grid-column-end: 24;
        @include likid(font-size, 1.55);
        font-family: Suisse Light;
        text-transform: uppercase;
      }

      &-link {
        grid-column-start: 24;
        grid-column-end: 32;
      }
    }
  }

  .c-uses {
    width: 100vw;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);

    &-title {
      font-size: 1.7rem;
      width: 100%;
      margin-bottom: 40px;
    }

    &-wrapper {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
    }

    .use {
      margin-bottom: 40px;
      .use-img {
        position: relative;
        height: auto;
        @include likid(width, 10);
        @include likid(height, 10);
        overflow: hidden;
        margin-bottom: 10px;

        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      &:hover {
        cursor: pointer;
        opacity: .65;
        a {
          opacity: .65
        }
      }
    }
  }

  .c-content {
    margin-top: 100vh;
    width: 100vw;
    padding-top: 12.5vw;
    padding-bottom: 12.5vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;

    &-main {

      h1 {
        @include likid(width, 20);
        @include likid(font-size, 2.45);
        line-height: 1.2;
        margin-bottom: 30px;
        font-weight: 200;
        font-family: Suisse Light;

        .where {
          display: inline-block;
          position: relative;
          &:after {
            position: absolute;
            top: 0px;
            content: '[?]';
            font-size: 18px;
            line-height: 18px;
          }

          &:hover {
            cursor: help;
            &:before {
              transform: scaleX(1);
            }
          }

          &:before {
            content: '';
            position: absolute;
            bottom: 0px;
            margin-top: 5px;
            height: 3px;
            width: 100%;
            opacity: 1;
            transform: scaleX(0);
            transform-origin: left;
            background-color: currentColor;
          }
        }
      }
    }

    ul li {
      display: inline-block;
      margin-right: 30px;
      a {
        color: black;
      }
    }
  }

  .c-type-img {
    width: 100vw;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);
    font-family: Ampersand;
    @include likid(font-size, 6.4);
    @include likid(line-height, 6.4);
    margin-top: 325px;
    margin-bottom: 75px;
  }

  .c-type {
    width: 100vw;
    display: grid;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-auto-flow: dense;

    span {
      display: block;
    }

    &-number {
      grid-row-start: 1;
      grid-column-start: 0;
      grid-column-end: 2;
      // @include likid(width, 3);
    }

    &-date {
      grid-column-start: 3;
      grid-column-end: 6;
      // @include likid(width, 3);
    }

    &-release {
      grid-column-start: 8;
      grid-column-end: 11;
      // @include likid(width, 3);
      // @include likid(left, 8);
    }

    &-creator {
      grid-column-start: 13;
      grid-column-end: 16;
      // @include likid(width, 3);
      // @include likid(left, 12);
    }

    &-infos {
      grid-row-start: 1;
      // @include likid(width, 3);
      // @include likid(left, 17);
      grid-column-start: 18;
      grid-column-end: 28;
    }

  }

  .c-type-examples {

    width: 100vw;

    .title {
      @include likid(margin-left, 4);
    }

    .example-1 {
      position: relative;
      z-index: 10;
      @include likid(padding-left, 2);
      @include likid(padding-right, 2);
      @include likid(width, 14);
      @include likid(margin-left, 2);
    }

    .example-2 {
      position: relative;
      z-index: 1;
      @include likid(padding-left, 1);
      @include likid(padding-right, 1);
      width: 100vw;
    }

    .example-3 {
      position: relative;
      z-index: 10;
      @include likid(padding-left, 2);
      @include likid(padding-right, 2);
      @include likid(width, 27);
      @include likid(margin-left, 6);
    }



    img {
      width: 100%;
      height: auto;
    }
  }

  footer {
    margin-top: 175px;
    width: 100vw;
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);

    .thanks {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 175px;

      span {
        display: block;
      }
    }
    .footer-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 70px;
    }
  }

  .about {
    width: 100vw;
    min-height: 100vh;
    background-color: white;

  }

  .c-about {
    padding-top: 20vw;
    padding-bottom: 5vw;
    font-family: Suisse Light;
    @include likid(width, 24);
    @include likid(font-size, 2.45);
    line-height: 1.2;
    @include likid(padding-left, 5);

    .infos-1 {
      position: absolute;
      font-size: 14px;
      line-height: 14px;
    }

    span {
      display: inline-block;
      position: relative;

      &:hover {
        cursor: help;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 5px;
        margin-top: 3px;
        height: 2px;
        width: 100%;
        opacity: 1;
        transform: scaleX(0);
        transform-origin: left;
        background-color: currentColor;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }

    &-data-1 {
      position: relative;

      &:after {
        position: absolute;
        top: 0px;
        content: '[1]';
        font-size: 18px;
        line-height: 18px;
      }
    }

    &-data-2 {
      position: relative;

      &:after {
        position: absolute;
        top: 0px;
        content: '[2]';
        font-size: 18px;
        line-height: 18px;
      }
    }

    &-data-3 {
      position: relative;

      &:after {
        position: absolute;
        top: 0px;
        content: '[3]';
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  .c-data {
    font-family: Apercu;

    .active {
      display: block;
    }
    &-n1 {
      @include likid(width, 6);
      @include likid(right, 7);
      bottom: 270px;
      display: none;
    }
    &-n2 {
      @include likid(width, 7);
      @include likid(right, 11);
      bottom: 150px;
      display: none;
    }
    &-n3 {
      @include likid(width, 6);
      @include likid(right, 7);
      bottom: 160px;
      display: none;
    }
  }

  .c-types {
    @include likid(padding-left, 2);
    @include likid(padding-right, 2);
    width: 100vw;
    padding-top: 225px;
    background-color: white;

    h1 {
      font-size: 1.7rem;
      font-weight: 400;
      margin-bottom: 125px;
    }

    .c-types-order {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 15px;
      border-bottom: 1px solid #DDDDDD;
    }

    ul li {
      display: inline-block;
      list-style: none;
      margin-left: 30px;
    }

    &-wrapper {
      display: flex;
      border-bottom: 1px solid #DDDDDD;

      &:hover {
        .number, .button, .images {
          opacity: 0.65;
        }
        cursor: pointer;
      }

      .number {
        margin-top: 40px;
      }

      .button {
        margin-bottom: 40px;
        align-self: flex-end;
        @include likid(margin-left, 1);
      }

      .images {
        @include likid(margin-left, 1);
        @include likid(width, 19);
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;

        img {
          width: 100%;
          height: auto;
          filter: invert(0);
        }
      }
    }
  }

  .flex {
    display: flex !important;
  }

  .pop-up {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;

    .p-mail {
      position: relative;
      z-index: 60;
      @include likid(width, 10);
      min-width: 400px;
      background-color: white;
      padding: 30px;

      &-title {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 50px;
        font-family: Suisse Light;
      }

      .close {
        position: absolute;
        right: 30px;
        &:hover {
          opacity: .65;
        }
      }

      &-content {
        margin-left: 15%;
        width: 70%;
        margin-bottom: 40px;
      }

      &-input {
        width: 70%;
        margin-left: 15%;
        border: none;
        font-size: inherit;
        color: black;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #DDDDDD;

        &:hover {
          border-bottom: 1px solid black;
        }

        &::placeholder {
          color: #DDDDDD;
        }

        &:focus {
          outline: none;
          border-bottom: 1px solid black;
        }

        &:focus::placeholder {
          color: transparent;
        }
      }

      .wrapper {
        margin-top: 20px;
        display: block;
        width: 70%;
        height: auto;
        margin-left: 15%;
        margin-bottom: 80px;
      }

      input[type=checkbox] {
        position: absolute;
        display: inline-block;
        visibility: hidden;
      }

      input[type=checkbox]:checked + label {
        color: black;
      }

      input[type=checkbox]:checked + label:after {
        opacity: 1;
      }

      .subscribe {
        margin-left: 15%;
        text-align: left;
        margin-bottom: 40px;
        &:hover {
          opacity: .65;
        }
      }

      label {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 10px;
        color: #DDDDDD;
        &:hover {
          cursor: pointer;
          color: black;
        }
        &:after {
          content: '';
          display: block;
          margin-top: 3px;
          height: 1px;
          width: 100%;
          opacity: 0;
          background-color: black;
        }
      }

    }
  }

}

.c-scrollbar {
  display: none;
}